@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";

body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
}

.blue-container {
	background-color: rgb(12, 170, 165);
	width: 100%;
}

.header {
    display: flex;
	justify-content: space-between;
	color: white;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.header .nome {
	font-size: 1.6em;
	color: #fff;
}

.container {
	text-align: center;
	margin: 0;
    padding: .8em 1.2em;
}

.hide {
    display: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 0.9em;
    line-height: 1.6em;
}

.menu {
    width: 27px;
    margin-top: .45em;
}

.opcoes, .clinicas {
	font-size: 1.4em;
	margin-bottom: 3em;
}

.selectboxes li select {
	padding: 1em;
	width: 20em;
	border-radius: 15px;
	margin-bottom: 2em;
	box-shadow: none;
	outline: none;
}

.selectboxes li select:focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.btn {
	margin-top: 7%;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	background-color: rgb(12, 170, 165);
	padding: 0.5em 3em;
	border: none;
	border-radius: 20px;
}

.btn:focus {
	outline: none;
}

.container h2 {
	margin-bottom: 1.5em;
}

.container .card{
	border: 4px solid rgb(32, 201, 195);
	border-radius: 5px;
	margin-bottom: 2em;
	width: 70%;
	display: inline-block;
}

.container .avaliacao {
	text-align: left;
	padding-left: 1.9em;
}

.container .card-text {
	font-weight: bolder;
}

.card .confirm {
	background: rgb(12, 170, 165);
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 200;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	outline: none;
	cursor: pointer;
}

footer {
	background-color: #313030;
	color: rgb(185, 183, 183);
	width: 100%;
	font-size: 0.9em;
}

footer .footerlogo {
	font-size: 1.5em;
	color: #fff;
	margin-top: 2em;
}

footer ul {
	padding: 3em;
}

footer ul li {
	display: inline-block;
	padding-right: 1em;
}

footer ul li:last-child {
	padding-right: 0;
}

.nav {
	width: 100%;
	text-align: left;
	color: #fff;
	padding: 1em 0 0em 0.5em;
}

.nav li {
	padding: 0.3em;
}

.nav li a:hover {
	color: rgb(209, 208, 208);
}


@media only screen and (min-width: 1024px) {
	.boa {
		display: flex;
		justify-content: space-evenly;
	}
	
	.hide {
		display: block;
		visibility: hidden;
	} /* jeito de esconder as coisas mas mantem tudo em ordem pra quando ela aparecer */

	.clinicas ul {
		display: flex;
	}

	.clinicas h2 {
		margin-bottom: 0.5em;
	}
	
	.container .card{
		width: 80%;
		font-size: 0.8em;
		margin: 1.5em 3em;
	}

	.container .card img {
		width: 150px;
	}

	.container .card-text {
		margin: 0;
		font-size: 1em;
	}
}
